<h2>
    hello
</h2>
<signup-form></signup-form>
<!--<app-course-form></app-course-form>
<!--<app-contact-form>
</app-contact-form>
<!--<input type="text" appInputFormat [format]="'uppcase'" >
<!--<panel>
    <ng-container class="heading">headingggg....</ng-container>
    <div class="body">
        <h3>text</h3>
        <p>
            par ...
        </p>
    </div>
</panel>-->
<!--<ul class="nav nav-pills">
    <li [class.active]="modeview == 'map'"><a (click)="modeview = 'map'">Map View</a></li>
    <li [class.active]="modeview == 'list'"><a (click)="modeview = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="modeview">
    <div *ngSwitchCase="'map'"> Map content</div>
    <div *ngSwitchCase="'list'">List Content</div>
    <div *ngSwitchDefault>author</div>
</div> -->
